/* navigation */

#navBar{
    flex-direction: row;

}
#navBar ul{
  margin-left: -10px;

}


#navBar ul  {
    font-size:1.6rem;
    padding:0px;
}


#log a{
    /* padding:0px; */
    font-size: 1.6rem;
}
#log{
    /* margin-left: 0px;
    display: flex;
    flex-direction: row; */
    


}




#home p{
    font-size:1.5rem;
    width: 90vw;
   /* margin-left: -15px; */
}
#home h1{
    font-size: 2.6rem;
    width:50vw;
    margin-top:10vh;
}
#home button{
    font-size:1.8rem;
    margin-top: 6vh;
}

/* services section  */

#services-container h1{
    font-size: 2.4rem;
}
#services{
    flex-direction: row;
}

#services .box h2{
    font-size: 1.8rem;
}


#services .box {
   
    width: 92%;
}



/* clients section */

#client-section::before {
   
    height: 70%;
   
}

#clients{
    flex-wrap: wrap;
    margin-top: 6vh;
    /* padding:0; */
}
.client-item {
       padding: 0 8vw 0 0;
}

#clients img {
    width: 11vw;
    height: 11vh;
}
#client-section h1{
    font-size: 2.4rem;
}




/* contact us section  */
.h-primary {
    font-size: 2.4rem;
    
}
#contact {
    position: relative;
    margin-top: 4vh;
}
#contact-box {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2rem;
}

#contact-box label {
    font-size: 2rem;
    
}

#contact-box input {
   width:auto;
    font-size: 1.8rem;
    padding: 0.2rem;
}
#contact-box textarea {
    width: 131%;
    height: 84px;
    padding: 1rem;
}
.form-group{
    margin-top: 20px;
}
/* footer  */

footer {
    height: 5vh;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* utility classes */
